.body {
    background-color: #455ca3;
}

.container {
    position: relative;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 40px);
    justify-content: space-between;
    width: 30%;
    margin-left: 33%;
    margin-top: 190px;

}


.little-container {
    height: 100px;
    width: 100px;
    text-align: center;
    justify-content: center;
    
}


.screen-background{
    padding: 70px;
    height: 600px;
    width: 950px;
    position: absolute;
    right: 25%;
    background-color: #455ca3;
}

.bot-pokemon {
    position: absolute;
    width: 308px;
    height: 192px;
    top: 40%;
    left: 52%;
}

.person-pokemon {
    position: absolute;
    width: 308px;
    height: 192px;
    top: 57%;
    left: 30%;
}

.box-pokemon {
    position: absolute;
    height: 700px;
    width: 680px;
    top: 22%;
    left: 34%;
}

.little-pokemon {
    border: 1px solid black;
}



