.body {
    background-color: #455ca3;
}

.container {
    position: relative;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 40px);
    justify-content: space-between;
    width: 30%;
    margin-left: 33%;
    margin-top: 190px;

}

.buttons-box{
    background-color: #455ca3;
    height: 150px;
    width: 750px;
    top: 80%;
    left: 30%;
    position: absolute;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 300px);
    justify-content: space-between;
}

.person-stats{
    background-color: #1b2c2c;
    border: 3px solid red;

}

.background{
    background-color: #455ca3;
    height: 800px;
}

.info-special {
    text-align: center;
    background-color: gold;
    border: 3px solid red;
    height: 100px;
}

.info {
    text-align: center;
    background-color: #ccd7e0;
    border: 3px solid red;
    height: 100px;
}

.little-container {
    height: 100px;
    width: 100px;
    text-align: center;
    justify-content: center;
    
}


.screen-background{
    padding: 70px;
    height: 600px;
    width: 950px;
    position: absolute;
    right: 25%;
    background-color: #455ca3;
}

.bot-pokemon {
    position: absolute;
    width: 200px;
    height: 192px;
    top: 38%;
    left: 56%;
}

.person-pokemon {
    position: absolute;
    width: 200px;
    height: 192px;
    top: 57%;
    left: 35%;
}

.box-pokemon {
    position: absolute;
    height: 700px;
    width: 680px;
    top: 22%;
    left: 34%;
}

.little-pokemon {
    border: 1px solid black;
}

.little-container {
    width: auto;
    height: 30%;
}

.store-text {
    font-size: 15px;
    color: #702423;
}

.store-text-name {
    font-size: 30px;
    color: #702423;
}

.buy-button{
    border: solid 1px black;
    border-radius: 25px;
    background-color: #fcc50f;
    font-size: 25px;
}

