.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.senha {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-senha {
  font-size: 35px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-menor {
  font-size: 18px;
  color: white;
  margin-top: 5px;
  margin-bottom: 2px;
}

.last {
  margin-bottom: 25px;
}

.button {
  background-color: #798f99;
  border-radius: 50px;
  border: solid 3px black;
  width: 150px;
  height: 30px;
  text-align: center;
  margin-bottom: 10rem;
}

input {
  border-radius: 50px;
  border: solid 1px black;
  width: 200px;
}
