.body {
    background-color: #455ca3;
}

.big-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-between;
    width: 30%;
    margin-left: 25%;
    margin-top: 5%;
    
}

.store-items {
    border: solid 6px #cfa211;
    border-radius: 10px;
    background-color:  #f5dfdc;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
    margin-bottom: 20px;
    
}


.little-container {
    width: auto;
    height: 30%;
}

.store-text {
    font-size: 15px;
    color: #702423;
}

.store-text-name {
    font-size: 30px;
    color: #702423;
}

.buy-button{
    border: solid 1px black;
    border-radius: 25px;
    background-color: #fcc50f;
    font-size: 25px;
}