.body {
    background-color: #455ca3;
}

.header {
    margin-left: 12.5%;
    width: 75%;
    background-color: #c93634;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    justify-content: space-between;
    padding: 10px;
}

.header-button {
    background-color: #0fb5fc;
    border-radius: 50px;
    border: solid 3px black;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

.evento {
    background-color: #fcc50f;
    border-radius: 50px;
    border: solid 3px black;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

.big-header {
    background-color: #702423;
    height: 10%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    text-align: center;
    padding-top: 1%
}

.trainer-photo {
    border-radius: 50px;
    height: 70%;
    
}

.logo-photo {
    height: 90%;
    width: 250%;
    
}

.big-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-between;
    width: 30%;
    margin-left: 25%;
    margin-top: 5%;
    
}

.store-items {
    border: solid 6px #702423;
    border-radius: 10px;
    background-color:  #65a7bf;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10%


}


.little-container {
    width: auto;
    height: 30%;
}

.store-text {
    font-size: 20px;
}

.buy-button{
    border: solid 1px black;
    border-radius: 25px;
    background-color: #fcc50f;
    font-size: 25px;
}